.Rproj.user
.Rhistory
.RData
.Ruserdata
data/IHME_GBD_2019_POP_2010_2019_SYA
data/ihmedata
data/map
data/parquet_database/
data/parquet_calculations/
data/parquet_shiny/
data/parquet_prevalences/
data/sleep22.duckdb
data/sleep22_calculations.duckdb
data/slapnea22.RDS
data/slapnea22_eurostat.RDS
data/europe_spdf.RDS
data/validation-italy.csv
data/validation-italy-export.csv
data/validation-italy.xlsx
data/slapnea_prevalence_calculate.xlsx
data/osa_prevalence_county_specific.xlsx
temp/
temp/*
:MEMORY:
:MEMORY:.wal